html {     
  background-size: cover;
  background-color: #E5E4E2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  text-align: center;
}

.home-animation {
  font-size: 2em;
  font-family: Consolas, Monaco, "Courier New", monospace;
  display: inline-block;
}

.header {
  text-align: center;
  font-family: consolas, "Courier New", monospace;
  font-size: 4em;
  margin: 0;
  padding-top: 12%;
  padding-bottom: 5%;
}

.sub-header {
  grid-column: 1 / 3;
  text-align: left;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 2em;
  margin-top: 2%;
  margin-left: 60px;
}

.page-loader {
  text-align: center;
  padding-top: 12%;
}

.nav {
  display: grid;
  background-color: #C0C0C0;
  border-bottom: 3px solid;
  border-color: #9BB9C3;
}

.nav-user {
  display: inline-grid;
  grid-row-start: 1;
  background-color: #C0C0C0;
  font-size: x-large;
  border: none;
  text-decoration: none;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  font-family: consolas, "Courier New", monospace;
  cursor: pointer;
}

.nav-user:hover {
  background-color: #FF908B;
}

.nav-button {
  background-color: #C0C0C0;
  border: none;
  display: inline-grid;
  grid-row-start: 1;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: consolas, "Courier New", monospace;
}

.nav-button:hover {
  background-color: #FF908B;
} 

.menu {
  position: absolute;
  float: right;
  list-style-type: none;
  padding: 0;
  width: 150px;
  
}

.menu-link {
  float: right;
  background-color: lightgray;
  text-decoration: none;
  font-size: small;
  font-family: consolas, "Courier New", monospace;
  padding: 5%;
  width: 150px;
  margin-right: 20px;
}

.menu-link:hover {
  background-color: #FF908B;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.menu > li {
  margin: 0;
  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer; 
}

.filter-nav {
  text-align: left;
}

.filter-label {
  text-align: left;
  margin-left: 15%;
  font-family: consolas, "Courier New", monospace;
  margin-bottom: 25px;
}

.filter-select {
  grid-column: 1 / 3;
  font-size: .875rem;
  font-weight: 400;
  outline: transparent solid 2px;
  outline-offset: -2px;
  display: block;
  font-family: consolas, "Courier New", monospace;
  height: 2.5rem;
  padding: 0 3rem 0 1rem;
  margin-left: 15%;


  border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
  border-bottom: 1px solid #8d8d8d;
  background-color: #000000;
  color: #f4f4f4;
  cursor: pointer;
  opacity: 1;
}

.filter-select:hover {
  color: #ff7878;
}

.filter-option option {
    font-family: consolas, "Courier New", monospace;
    background-color: red;
}

.filter-submit {
  grid-column: 1 / 3;
  grid-row: 20;
  background-color: #C0C0C0;
  color: coral;
  text-decoration: none;
  font-size: 1em;
  font-family: consolas, "Courier New", monospace;
  cursor: pointer;
  padding: 1%;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 45%;
  border: none;
}

.filter-submit:hover {
  background-color: #FF908B;
  color: black;
}

.user-form-header {
  grid-column: 1 / 3;
  text-align: left;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 2em;
  margin-top: 25px;
}

.user-form {
  display: grid;
  grid-template-columns: 200px;
  padding-top: 5%;
  padding-left: 10%;
}

@media screen and ( max-width: 900px ){
  .user-form{
      margin: 0 0 0 0;
  }
}

.user-label {
  grid-column: 1 / 2;
  font-family: consolas, "Courier New", monospace;
  padding-top: 2.5%;
  padding-right: 0.8%;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-label-error {
  grid-column: 1 / 2;
  font-family: consolas, "Courier New", monospace;
  padding-top: 2.5%;
  padding-right: 0.8%;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}


.user-input {
  grid-column: 2 / 3;
  font-family: consolas, "Courier New", monospace;
  padding: 0.6%;
  margin-bottom: 10px;
  margin-top: 10px;
  
  margin-right: 60%;
}

.user-input-long {
  grid-column: 2 / 3;
  font-family: consolas, "Courier New", monospace;
  padding: 0.6%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 25%;

}

@media screen and ( max-width: 500px ){
  .user-input {
    grid-column: 1 / 3;
    font-family: consolas, "Courier New", monospace;
    padding: 0.6%;
    margin-bottom: 20px;
    margin-right: 60%;
  }
  .user-input-long {
    grid-column: 1 / 3;
    font-family: consolas, "Courier New", monospace;
    padding: 0.6%;
    margin-right: 25%;
  }
  .user-input::placeholder {
    font-size: x-small;
  }
  .user-input-long::placeholder {
    font-size: x-small;
  }
}

.user-label-text-area {
  grid-column: 1 / 2;
  font-family: consolas, "Courier New", monospace;
  padding-top: 2.5%;
  padding-right: 0.8%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.user-text-area {
  grid-column: 1 / 3;
  font-family: consolas, "Courier New", monospace;
  margin-right: 10%;
  margin-bottom: 25px;
  font-size: x-small;
  
}

.user-text-area::placeholder {
  grid-column: 1 / 3;
  font-family: consolas, "Courier New", monospace;
  font-size: small;
}

@media screen and ( max-width: 900px ){
  .user-text-area{
    width: 85%;
    height: 100%;
  }
  .user-text-area::placeholder {
    grid-column: 1 / 3;
    font-family: consolas, "Courier New", monospace;
    font-size: x-small;
  }
}

.signup-failure {
  grid-column: 1 / 3;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 30px;
  font-family: consolas, "Courier New", monospace;
  color: rgb(183, 12, 12);
}

.signup-success {
  grid-column: 1 / 3;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 30px;
  font-family: consolas, "Courier New", monospace;
  color: rgb(3, 162, 3);
}

.pass-fail-list {
  grid-column: 1 / 3;
  list-style-type: none;
  font-family: consolas, "Courier New", monospace;
  color: rgb(183, 12, 12);
}

.submit-button {
  grid-column: 1 / 3;
  grid-row: 20;
  background-color: #C0C0C0;
  color: coral;;
  text-decoration: none;
  font-size: 1em;
  font-family: consolas, "Courier New", monospace;
  cursor: pointer;
  padding: 1%;
  margin-top: 20px;
  margin-right: 25%;
  margin-bottom: 35px;
  border: none;
}

.submit-button:hover {
  background-color: #FF908B;
  color: black;
}

.submit-button-disabled {
  grid-column: 1 / 3;
  grid-row: 20;
  background-color: #C0C0C0;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-family: consolas, "Courier New", monospace;
  cursor: pointer;
  padding: 1%;
  margin-top: 20px;
  margin-right: 25%;
  margin-bottom: 35px;
  border: none;
}

.submit-button-disabled:hover {
  background-color: white;
  color: black;
}

.delete-button {
  grid-column: 1 / 3;
  grid-row: 20;
  background-color: #C0C0C0;
  color: coral;
  text-decoration: none;
  font-size: 1em;
  font-family: consolas, "Courier New", monospace;
  cursor: pointer;
  padding: 1%;
  margin-top: 20px;
  margin-right: 25%;
  margin-bottom: 35px;
  margin-left: 15px;
  border: none;
}

.delete-button:hover {
  background-color: #FF908B;
  color: black;
}

.map-div {
  text-align: left;
  width: 85%;
  margin-left: 80px;
  margin-right: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 5px;
  border: #848884 solid;
  border-radius: 5px;
}

.map-title {
  font-family: consolas, "Courier New", monospace;

  margin-left: 10px;
}

.map-disc {
  font-family: consolas, "Courier New", monospace;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 0;
}

.map-details {
  font-family: consolas, "Courier New", monospace;
  font-size: small;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 0;
}

.map-vote {
  display: flex;
  font-family: consolas, "Courier New", monospace;
  font-size: small;
  row-gap: 10px;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 75%;
}

.map-vote-flex {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  row-gap: 10px;
  margin-bottom: 18px;
}

.map-vote-flex:hover {
  color: #FF908B;
}


@media screen and ( max-width: 600px ){
  .map-div {
    
    margin-left: 10px;
    margin-right: 10px;
  }
}
