.App {
  text-align: center;
}

html {    
  background: url('default-background.png') no-repeat center fixed;     
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {

}

.nav {
  padding: auto;
  padding-bottom: 5%
}

.login {
  display: grid;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding: 5%;
  border: 1px solid #0b090a;
  border-radius: 4px;
  width: 50%;
}

.input {
  margin: auto;
  margin-bottom: 5%;
  padding: 5%;
  border-radius: 4px;
  padding: 5px;
  
}

.signup-label{
  margin-top: 20%;
}

.signup-button{
  background-color: #2fa4b9;
  border: none;
  color: white;
  padding: auto;
  text-decoration: none;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}

.home-image {
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

.article {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

.article-header {
  font-size: 1rem;
}

.article-details {
  font-size: x-small;
  padding: auto;
  margin-left: 2%;
  margin: auto;
}

.article-body {
  font-size: small;
  color: #413a42;
}

.comment {
  margin: auto;
  padding: 5%;
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;

}

.comment-header {
  font-size: small;
}

.comment-body {
  font-size: x-small;
  color: #413a42;
}

.comment-details {
  font-size: xx-small;
  padding: auto;
  margin-left: 2%;
  margin: auto;
}

.post-button {
  background-color: #2fa4b9;
  border: none;
  color: white;
  padding: auto;
  text-decoration: none;
  margin: auto;
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}

.delete-button{
  background-color: #2fa4b9;
  border: none;
  color: white;
  padding: auto;
  text-decoration: none;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}

.vote-button {
  color: #ffa5d6;
  cursor: pointer;
  margin: auto;
  font-size: small;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.add-comment-form{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;

}
.add-comment-box {
  width: 70%;
  height: 75%;
  font-size: x-small;
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;
}

.topics {
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

.topic-description {
  font-size: x-small;
  padding: auto;
  margin-left: 2%;
  margin: auto;
}
.topic-pane {
  margin: auto;
  width: 20%;
  border: 1px solid #0b090a;
}

.topic-nav {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-nav-links {
  width: 20%;
  height: 75%;
  margin: auto;
  font-size: x-small;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #0b090a;
}

.article-search {
  width: 25%;
  height: 25%;
  margin: auto;
  font-size: x-small;
  border: 1px solid #0b090a;
  border-radius: 4px;
  padding: 5px;
}

.query-nav {
  margin: 0%;
  padding: auto;
}

.query-nav {
  cursor: pointer; 
}

.query-submit-button{
  background-color: #2fa4b9;
  border: none;
  color: white;
  padding: auto;
  text-decoration: none;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  cursor: pointer;
}